<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Eclipse 2019-06 Target" sequenceNumber="1575899381">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.0.v20181203-1331"/>
      <repository id="eclipse-platform" location="http://download.eclipse.org/releases/2019-06"/>
	    <unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.500.v201903021515"/>
	    <unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.12.0.v201903222115"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.3.8.201909101346"/>
      <unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.3.8.201909101346"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.8.201909101346"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.8.201909101346"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="3.3.8.201909101346"/>
      <unit id="org.eclipse.emf.compare.diagram" version="2.5.2.201909101346"/>
      <unit id="org.eclipse.emf.compare.edit" version="4.3.1.201909101346"/>
      <unit id="org.eclipse.emf.compare" version="3.5.3.201909101346"/>
      <repository id="emfCompare" location="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://hstaudacher.github.io/osgi-jax-rs-connector"/>
		  <unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.connector.feature.source.feature.group" version="5.3.1.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="2.3.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.gson.feature.source.feature.group" version="2.3.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.moxy.feature.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.moxy.feature.source.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.multipart.feature.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.multipart.feature.source.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.security.feature.source.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.sse.feature.source.feature.group" version="2.2.0.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="1.1.1.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.provider.swagger.feature.source.feature.group" version="1.1.1.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.jersey.runtime.feature.feature.group" version="2.22.1.201602281253"/>
		  <unit id="com.eclipsesource.jaxrs.jersey.runtime.feature.source.feature.group" version="2.22.1.201602281253"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.14.v20181113"/>
		  <unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.4.14.v20181113"/>
		  <unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="9.4.14.v20181113"/>
	  </location>
  </locations>
</target>